@using Client.Models.ProductDTO
@model ProductViewModel


<div class="wishlist-container">
    <h1 class="text-success"><i class="fas fa-heart"></i> Your Library</h1>
    <div class="collections">
        <div class="collection-card add-new">
            + CREATE A NEW LIBRARY
        </div>
        @if (Model.oderitem != null)
        {
            foreach (var image in Model.oderitem)
            {
                <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@image.ProductId">
                    <div class="collection-card">
                        
                        <img src="@image.ImageUrl" alt="Favorites">
                        <div class="text">
                            <p class="title text-danger text-decoration-none">@image.ProductName</p>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <p>khong co library</p>
        }
    </div>
</div>


<div class="wishlist-container">
    <h1 class="text-success"><i class="fas fa-heart"></i> Your Wishlist</h1>
    <div class="collections">
        <div class="collection-card add-new">
            + CREATE A NEW WISHLIST
        </div>
        @if (Model.Wishlist != null)
        {
            foreach (var image in Model.Wishlist)
            {
                <div class="collection-card">
                    <span class="delete-icon" onclick="confirmDelete()">&times;</span>
                    <img src="@image.ProductImage" alt="Favorites">
                    <div class="text">
                        <p class="title text-white">@image.ProductName</p>
                    </div>
                </div>
            }
        }
        else
        {
            <p>khong co wishlist</p>
        }
    </div>
</div>

        



<!-- Modal Xác nhận Xóa -->
<div id="deleteModal" class="modal">
    <div class="modal-content">
        <p>Bạn có muốn xóa Game khỏi Wishlist?</p>
        <div class="modal-buttons">
            <button  class="btn-confirm">Yes</button>
            <button onclick="closeModal()" class="btn-cancel">No</button>
        </div>
    </div>
</div>


 <script>
    function confirmDelete() {
        document.getElementById("deleteModal").classList.add("show");
    }

    function closeModal() {
        document.getElementById("deleteModal").classList.remove("show");
    }

    
 </script>