<div class="container-fluid mt-5" style="min-height:1100px;">
    <h1 class="text-center" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">Orther Product</h1>
    <div class="row mt-3">
        <div class="col-md-2">
            <div class="m-3">
                <h4 class="mt-3">Filters</h4>
                <hr>
                <!-- -------------------------------------------------------------------------------------------------------------------------------------------------- -->
                <form asp-action="FilterProducts" asp-controller="Product" method="post">
                    <!-- Price Filter -->
                    <div class="mb-4">
                        <h5>Price</h5>
                        <input type="text" class="form-range" name="minRange">
                        <input type="text" class="form-range" name="maxRange">
                    </div>

                    <!-- Category Filter -->
                    <div class="mb-4">
                        <h5>Category</h5>
                        <select class="form-select" name="category">
                            @if (Model.CategoriesModel != null)
                            {
                                foreach (var cate in Model.CategoriesModel)
                                {
                                    <option value="@cate.Name">@cate.Name</option>
                                }
                            }
                            else
                            {
                                <option disabled>Không có danh mục nào</option>
                            }
                        </select>
                    </div>

                    <!-- Platform Filter -->
                    <div class="mb-4">
                        <h5>Platform</h5>
                        <select class="form-select" name="platform">
                            @if (Model.Product != null)
                            {
                                foreach (Client.Models.Enum.ProductEnum.PlatformType platform in Enum.GetValues(typeof(Client.Models.Enum.ProductEnum.PlatformType)))
                                {
                                    <option value="@(platform)">@platform</option>
                                }
                            }
                            else
                            {
                                <option disabled>Không có danh mục nào</option>
                            }
                        </select>
                    </div>

                    <!-- Discount Filter -->
                    <div class="mb-4">
                        <label for="discount" class="form-label">Discount</label>
                        <select name="discount" class="form-select" aria-label="Type">
                            <option value="True">True</option>
                            <option value="False">False</option>
                        </select>
                    </div>

                    <!-- Sold Filter -->
                    <div class="mb-4">
                        <label for="sold" class="form-label">Sort</label>
                        <select name="sold" class="form-select" aria-label="Type">
                            <option value="0">>0</option>
                            <option value="100">>100</option>
                            <option value="200">>200</option>
                            <option value="500">>500</option>
                            <option value="1000">>1000</option>
                        </select>
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary w-100">Apply Filters</button>
                </form>
            </div>
        </div>
        <div class="col-md-10">
            @* <div class="ortherproduct">
                <div class="radio-inputs">
                    <label class="radio">
                        <input type="radio" name="radio" checked="" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">For you</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">Popular</span>
                    </label>

                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">Free</span>
                    </label>

                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">New</span>
                    </label>
                    <label class="radio">
                        <input type="radio" name="radio" />
                        <span class="name" style="font-family: 'Roboto', 'Segoe UI', sans-serif;">More</span>
                    </label>
                </div>
            </div> *@


            <div class="mt-2 me-1">
                <div class="d-flex flex-wrap mt-3">
                    @if (Model.Product != null)
                    {
                        foreach (var product in Model.Product)
                        {
                            <div class="col-12 col-sm-12 col-md-3 card_other mt-4" style="width: 12rem; height:230px;">
                                @if (product.Links != null)
                                {
                                    string firstImageUrl = null; // Biến để lưu URL hình ảnh đầu tiên

                                    foreach (var link in product.Links) // Lặp qua từng đối tượng LinkModel
                                    {
                                        if (link.Url.Contains("cloudinary"))
                                        {
                                            firstImageUrl = link.Url; // Lưu URL hình ảnh đầu tiên
                                            break; // Thoát khỏi vòng lặp khi đã tìm thấy
                                        }
                                    }

                                    // Hiển thị hình ảnh đầu tiên nếu có
                                    if (firstImageUrl != null)
                                    {
                                        <img src="@firstImageUrl" alt="Cloudinary Image" />
                                    }


                                }
                                <div class="info_other">
                                    <h4>@product.Name</h4>
                                    <p>@product.Description</p>
                                    <a asp-controller="Product" asp-action="ProductDetail" class="btn_orther">Read More</a>
                                </div>
                            </div>
                        }
                    }

                    
                    
@*                     <div class=" card cardgamemonth m-1" style="width: 12rem; height:230px;">
                        <img src="~/image/game.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 style="font-size:15px;">Trick Tactics - Card Adventure Game</h5>
                            <p class="text-end">109.000 <sup>đ</sup></p>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between mt-3">
    <div>Total: @(Model.totalItem) items</div>
    <div>
        <form method="get" asp-controller="Product" asp-action="Product" class="d-inline">
            <select name="pageSize" class="form-select form-select-sm w-auto d-inline-block" onchange="this.form.submit()">
                <option>Select records per page</option>
                <option value="3">3 records per page</option>
                <option value="5">5 records per page</option>
                <option value="10">10 records per page</option>
            </select>
            <input type="hidden" name="page" value="1" />
        </form>

        <nav aria-label="Page navigation example" class="d-inline-block">
            <ul class="pagination pagination-sm mb-0">
                <li class="page-item @(Model.pageNumber == 1 ? "disabled" : "")">
                    <a class="page-link" asp-controller="Product" asp-action="Product" asp-route-page="@(Model.pageNumber - 1)" asp-route-pageSize="@(ViewContext.HttpContext.Request.Query["pageSize"])">
                        Previous
                    </a>
                </li>
                @for (var pg = 1; pg <= Model.pageCount; pg++)
                {
                    <li class="page-item @(pg == Model.pageNumber ? "active" : "")">
                        <a class="page-link" asp-controller="Admin" asp-action="Product" asp-route-page="@pg" asp-route-pageSize="@(ViewContext.HttpContext.Request.Query["pageSize"])">
                            @pg
                        </a>
                    </li>
                }
                <li class="page-item @(Model.pageNumber == Model.pageCount ? "disabled" : "")">
                    <a class="page-link" asp-controller="Admin" asp-action="Product" asp-route-page="@(Model.pageNumber + 1)" asp-route-pageSize="@(ViewContext.HttpContext.Request.Query["pageSize"])">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>