<div class="comment">
    <div class="row">
        <div class="col-md-1 comment-icon d-flex justify-content-center mt-5">
            <i class="fa-solid fa-user-secret"></i>
        </div>
        <div class="col-md-11 comment-body">
            <div class="comment-header">
                <p><strong>@Model.UserName</strong></p>
                <p class="created-at">@Model.CreatedAt.ToString("g")</p>
            </div>
            <div class="comment-content">
                <p>@Model.Content</p>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Nút "Xem thêm" -->
        <div class="col-md-6 text-start">
            <a id="toggleButton-@Model.Id"
               class="link-action"
               onclick="toggleReplies('@Model.Id')"
               style="width:50%; text-decoration:none; color:black; padding:5px; border-radius:5px; transition: all 0.3s;">
                Xem thêm
            </a>
            |
            <a class="link-action"
               onclick="scrollToReplyForm('@Model.Id')"
               style="width:50%; text-decoration:none; color:black; padding:5px; border-radius:5px; transition: all 0.3s;">
                Reply
            </a>
        </div>

        <div class="col-md-6 comment-footer text-end">
            <p class="likes">
                <small>
                    <span id="like-count-@Model.Id">@Model.NumberOfLikes</span>

                    <!-- Form for Increasing Like -->
                    <form asp-action="IncreaseLike" asp-controller="Product" method="post" style="display:inline;" class="like-form">
                        <!-- Hidden input to send the comment ID -->
                        <input type="hidden" name="commentID" value="@Model.Id" />
                        <!-- Hidden input to send the product ID -->
                        @* <input type="hidden" name="productID" value="@product.Id" /> *@
                        <button type="submit" class="like-button " style="background:none; border:none; cursor:pointer;">
                            <i class="fa-solid fa-thumbs-up"></i>
                        </button>
                    </form>

                    <span id="dislike-count-@Model.Id">@Model.NumberOfDisLikes</span>

                    <!-- Form for Decreasing Like -->
                    <form asp-action="DecreaseLike" asp-controller="Product" method="post" style="display:inline;" class="dislike-form">
                        <!-- Hidden input to send the comment ID -->
                        <input type="hidden" name="commentID" value="@Model.Id" />
                        <!-- Hidden input to send the product ID -->
                        @* <input type="hidden" name="productID" value="@product.Id" /> *@
                        <button type="submit" class="dislike-button" style="background:none; border:none; cursor:pointer;">
                            <i class="fa-solid fa-thumbs-down"></i>
                        </button>
                    </form>
                </small>


            </p>
        </div>
    </div>

    <!-- Phần chứa các bình luận con -->
    <div id="replies-@Model.Id" class="ms-5" style="display: none;"></div>

</div>