@model Client.Models.UserDTO.UpdateUser


<div class="main">
    <div class="row justify-content-center">
        <div class="col-md-3 p-3">
            <div class="d-flex align-items-center mb-3 p-2 rounded border border-1">
                <img src="@Model.Avatar" class="rounded me-3" alt="Avatar" style="width:80px; height:80px;" />
                <div>
                    <h5 class="mb-0">@Model.DisplayName</h5>
                    <p class="mb-0 text-muted">@Model.Email<br>@Model.PhoneNumber</p>
                </div>
            </div>

            <!-- Danh Muc -->
            <div class="nav flex-column">
                <div class="custom-nav-item">
                    <button type="button">
                        <i class="fas fa-user"></i> User information
                    </button>
                </div>
                <div class="custom-nav-item">
                    <button type="button">
                        <i class="fas fa-info-circle"></i> Additional Information
                    </button>
                </div>
                <div class="custom-nav-item">
                    <button type="button">
                        <i class="fas fa-lock"></i> Password and Security
                    </button>
                </div>
                <div class="custom-nav-item">
                    <button type="button">
                        <i class="fas fa-heart"></i> Wishlist
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-9 p-4">
            <div>
                <h3 class="fw-bold text-success"><i class="fas fa-user"></i> USER INFORMATION</h3>
            </div>
            <hr />
            <div class="mt-5">
                <div class="row">
                    <div class="col-md-4">
                        @* 
                        <div>
                            <div class="text-center">
                                <img src="@Model.Avatar" class="rounded" alt="Avatar" style="width:150px; height:150px;" />
                                <div class="mt-3">
                                    <button class="btn btn-success fw-bold" type="button">
                                        <i class="fas fa-edit me-2"></i>Edit Avatar
                                    </button>
                                </div>
                            </div>
                        </div>
                        *@
                    </div>
                    <div class="col-md-8">
                        <!-- Bắt đầu form -->
                        <form asp-action="Information" method="post">
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <div class="row mb-3 px-3">
                                <div class="col-md-3 align-content-center">
                                    <div class="text-center fw-bold">
                                        Display Name
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="displayName" name="DisplayName" value="@Model.DisplayName">
                                </div>
                            </div>
                            <div class="row mb-3 px-3">
                                <div class="col-md-3 align-content-center">
                                    <div class="text-center fw-bold">
                                        Email
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <input type="email" class="form-control" id="email" name="Email" value="@Model.Email">
                                </div>
                            </div>
                            <div class="row mb-3 px-3">
                                <div class="col-md-3 align-content-center">
                                    <div class="text-center fw-bold">
                                        Phone Number
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="phoneNumber" name="PhoneNumber" value="@Model.PhoneNumber">
                                </div>
                            </div>
                            <div class="row mb-3 px-3">
                                <div class="col-md-3 align-content-center">
                                    <div class="text-center fw-bold">
                                        <label asp-for="@Model.Role" class="font-weight-bold">Role</label>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    
                                    <select asp-for="@Model.Role" class="form-control form-control-sm">
                                        <option value="User">User</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3 px-3">
                                <div class="col-md-3 align-content-center">
                                    <div class="text-center fw-bold">
                                        Avatar URL
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="avatar" name="Avatar" value="@Model.Avatar">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-success fw-bold">
                                <i class="fas fa-save me-2"></i>Update
                            </button>
                        </form>
                        <!-- Kết thúc form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
