@model List<Client.Models.UserDTO.UsersDTO>

@{
    ViewBag.Title = "Users Index";
}
@* <table class="table table-bordered table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th scope="col"><input type="checkbox" id="selectAll"></th>
            <th scope="col">Avatar</th>
            <th scope="col">User Name</th>
            <th scope="col">Display Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Role</th>
            <th scope="col">CreateAt</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody> *@
        @* <tr>
            <td><input type="checkbox" class="user-checkbox"></td>
            <td><img src="~/Image/avatar.jpeg" alt="Alternate Text" style="width: 80px; height: 80px" /></td>
            <td>tuanlx123</td>
            <td>Tuan Dep Trai</td>
            <td>tuanpham147369@gmail.com</td>
            <td><span class="text-success">0933 808 235</span></td>
            <td>Đã kích hoạt</td>
            <td>10/05/2024</td>
            <td><span><i class="fa-regular fa-pen-to-square"></i></span></td>
        </tr> *@
        @if (Model != null && Model.Any())
        {
            foreach (var user in Model)
            {
                <tr>
                    <td><input type="checkbox" class="user-checkbox" value="@user.Id" /></td>
                    <td>
                        @if (!string.IsNullOrEmpty(user.Avatar))
                        {
                            <img src="@user.Avatar" alt="Avatar" style="width: 80px; height: 80px;" />
                        }
                        else
                        {
                            <img src="~/Image/avatar.jpeg" alt="Avatar" style="width: 80px; height: 80px;" />
                        }
                    </td>
                    <td>@user.Username</td>
                    <td>@(string.IsNullOrEmpty(user.DisplayName) ? "-" : user.DisplayName)</td>
                    <td>@user.Email</td>
                    <td>
                        <span class="text-success">@user.PhoneNumber</span>
                    </td>

                    <td>
                        @if (user.Role == Client.Models.Enum.User.UserRole.Admin)
                        {
                            <span class="text-primary">Admin</span>
                        }
                        else
                        {
                            <span>Người dùng</span>
                        }
                    </td>
                    <td>@DateTime.Now.ToString("dd/MM/yyyy")</td> <!-- Hiển thị ngày tham gia -->
                    <td>
                        <span><i class="fa-regular fa-pen-to-square"></i></span>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" class="text-center">Không có người dùng nào để hiển thị.</td>
            </tr>
        }

        <!-- Thêm các dòng dữ liệu tương tự -->
@*     </tbody>
</table> *@
