@using Client.Models
@model AllModel



<div id="g_id_onload"
     data-client_id="931532368031-fve5bfiu4t6uvu5laj3gq9fbj7okl43e.apps.googleusercontent.com"
     data-login_uri='/google-response'
     data-auto_prompt='false'>
</div>
<div id="carouselExampleInterval" class="carousel slide mt-5 w-100 h-100" data-bs-ride="carousel" style="border-radius:5px; margin: 0 auto; width: 80%;">
    <div class="carousel-inner">
        @if (Model.Product != null)
        {
            // Lọc và lấy 4 sản phẩm mới nhất theo CreatedAt
            var latestProducts = Model.Product
            .OrderByDescending(p => p.CreatedAt) // Sắp xếp theo CreatedAt từ mới đến cũ
            .Take(4); // Lấy 4 sản phẩm đầu tiên

            // Biến để kiểm tra xem sản phẩm đầu tiên có được đánh dấu là "active" không
            bool isFirstItem = true;

            foreach (var product in latestProducts)
            {
                <div class="carousel-item @(isFirstItem ? "active" : "")" data-bs-interval="3000" style="border-radius:5px;">
                    @if (product.Links != null)
                    {
                        string secondImageUrl = null; // Biến để lưu URL hình ảnh thứ hai

                        // Tìm hình ảnh thứ hai
                        int imageCount = 0; // Biến đếm số lượng hình ảnh đã tìm thấy
                        foreach (var link in product.Links)
                        {
                            if (link.Url.Contains("cloudinary"))
                            {
                                imageCount++;
                                if (imageCount == 2)
                                {
                                    secondImageUrl = link.Url; // Lưu URL hình ảnh thứ hai
                                    break; // Thoát khỏi vòng lặp khi đã tìm thấy
                                }
                            }
                        }

                        // Hiển thị hình ảnh thứ hai nếu có
                        if (secondImageUrl != null)
                        {
                            <div class="carousel-image-container">
                                <img src="@secondImageUrl" alt="Cloudinary Image" class="d-block w-100 carousel-image" />
                            </div>
                        }
                    }
                </div>

                // Đánh dấu item đầu tiên để thiết lập class "active"
                isFirstItem = false;
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}

@if (TempData["error"] != null)
{
    <div class="alert alert-danger">
        @TempData["error"]
    </div>
}
<div class="gamemonth" style="margin-top:3vw;">
    <section class="header_section">
        <h1 style="font-family: 'Poppins', sans-serif; text-transform:uppercase;">Game Of The Month</h1>
    </section>
    <div class="wrapper_gamemonth">
        <div class="slider_gamemonth">
            <div class="container_gamemonth owl-carousel owl-theme">
                @if (Model.Product != null && Model.Product.Any(p => p.CreatedAt.Year == DateTime.UtcNow.Year && p.CreatedAt.Month == DateTime.UtcNow.Month))
                {
                    int count = 0;
                    foreach (var product in Model.Product.Where(p => p.CreatedAt.Year == DateTime.UtcNow.Year && p.CreatedAt.Month == DateTime.UtcNow.Month))
                    {
                        if (count >= 6) break; // Giới hạn hiển thị 6 sản phẩm đầu tiên
                        count++;

                        <div class="card_gamemonth item">
                            <div class="img_gamemonth">
                                @if (product.Links != null)
                                {
                                    // Tìm hình ảnh thứ hai
                                    string secondImageUrl = null;
                                    int imageCount = 0;

                                    foreach (var link in product.Links)
                                    {
                                        if (link.Url.Contains("cloudinary"))
                                        {
                                            imageCount++;
                                            if (imageCount == 2) // Lấy hình ảnh thứ hai
                                            {
                                                secondImageUrl = link.Url;
                                                break; // Thoát khỏi vòng lặp khi đã tìm thấy
                                            }
                                        }
                                    }

                                    if (secondImageUrl != null)
                                    {
                                        <img src="@secondImageUrl" alt="Cloudinary Image" />
                                    }
                                }
                            </div>
                            <div class="info">
                                <span class="name">@product.Name</span>
                                <p class="about">
                                    @(product.Description.Length > 100
                                        ? product.Description.Substring(0, 100) + "..."
                                        : product.Description)
                                </p>
                            </div>
                            <div class="row footeer_card">
                                <div class="col-md-6 btn_card">
                                    <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="btn_orther">Read More</a>
                                </div>
                                <div class="col-md-3"></div>
                                <div title="Wishlist" class="col-md-3 heart-container" style="width:20px;height:20px;">
                                    <input id="Give-It-An-Id" class="checkbox" type="checkbox">
                                    <div class="svg-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"></path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </div>


                        </div>
                    }
                }
                else
                {
                    <div class="card_gamemonth item">
                        <div class="img_gamemonth">
                            <img src="~/Image/game.jpg" />
                        </div>
                        <div class="info">
                            <span class="name">Justin Laketimber</span>
                            <p class="about">Lorem ipsum dolor sit amet consectetur adipisicing elit....</p>
                        </div>
                        <div class="footeer_card">
                            <div class="btn_card">
                                <button>Read more...</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



<div class="gamefree row" style="margin-top:5vw;">
    <div class="row">
        <div class="col-9 col-sm-9 col-md-9 free-games-section">
            <i class="fa-solid fa-gift"></i>
            <span>Featured Discounts</span>
        </div>
        <div class="col-3 col-sm-3 col-md-3 footeer_card" >
            <div class="btn_card" style="display:flex;justify-content:flex-end;" style="width:250px;font-size:font: 15px Montserrat;">
                <a href="#" class="btn_orther" style="width:200px;font: 15px Montserrat;">View More</a>
            </div>
        </div>
    </div>
    <div class="row" style="justify-content:space-around;">
        @if (Model.Product != null)
        {
            // Lọc sản phẩm có Discount > 0, sắp xếp giảm dần theo Discount và lấy 4 sản phẩm đầu tiên
            var topDiscountProducts = Model.Product
            .Where(p => p.Discount > 0)
            .OrderByDescending(p => p.Discount)
            .Take(3);

            foreach (var product in topDiscountProducts)
            {
                <div class="col-12 col-sm-12 col-md-3 card_other mt-4">
                    <div class="image-container d-flex justify-content-center align-items-center" style="height: 200px;">
                        @if (product.Links != null)
                        {
                            string firstImageUrl = product.Links.FirstOrDefault(link => link.Url.Contains("cloudinary"))?.Url;
                            if (firstImageUrl != null)
                            {
                                <img src="@firstImageUrl" alt="Cloudinary Image" class="img-fluid" style="height: 100%; width: auto; object-fit: cover;" />
                            }
                        }
                    </div>
                    <div class="info_other">
                        <h1>@product.Name</h1>
                        <p>
                            @(product.Description.Length > 100
                                ? product.Description.Substring(0, 100) + "..."
                                : product.Description)
                        </p>
                        @* <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="btn_orther">Read More</a> *@
                        <div class="row d-flex align-items-center justify-content-between">
                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="col-md-6 btn_orther ms-2 text-center">Read More</a>
                            <div class="col-md-3"></div>
                            @* Day la trai tym ne *@
                            <div title="Wishlist" class="col-md-3 heart-container" style="width:20px;height:20px;">
                                <input id="Give-It-An-Id" class="checkbox" type="checkbox">
                                <div class="svg-container">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                        <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                        </path>
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                        <polygon points="10,10 20,20"></polygon>
                                        <polygon points="10,50 20,50"></polygon>
                                        <polygon points="20,80 30,70"></polygon>
                                        <polygon points="90,10 80,20"></polygon>
                                        <polygon points="90,50 80,50"></polygon>
                                        <polygon points="80,80 70,70"></polygon>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>


<div class="ortherproduct" style="margin-top:10vw;">
    <section class="header_section">
        <h1 style="font-family: 'Poppins', sans-serif; text-transform:uppercase;">Orther Product</h1>
    </section>

    <!-- Danh sách Nút Điều Hướng -->
    <div class="lisotherproduct_name row mt-3" style="font-family: 'Poppins', sans-serif; text-transform:uppercase;">
        <a class="col-6 col-sm-2 col-md-2" href="#foryou">For You</a>
        <a class="col-6 col-sm-2 col-md-2" href="#popular">Popular</a>
        <a class="col-4 col-sm-2 col-md-2" href="#free">Free</a>
        <a class="col-4 col-sm-2 col-md-2" href="#new">New</a>
        <a class="col-4 col-sm-2 col-md-2" href="#more">More</a>
    </div>






    <section id="popular" class="mt-5">
        <div class="d-flex justify-content-between align-items-center row">
            <h3 class="col-8 col-sm-8 col-md-8 ms-4 fw-bold" style="font-family: 'Poppins', sans-serif; text-transform:uppercase;">Popular</h3>
            <div class="col-3 col-sm-3 col-md-3 footeer_card">
                <div class="btn_card" style="display:flex;justify-content:end;" style="width:200px;font-size:font: 15px Montserrat;">
                    <a href="#" class="btn_orther" style="width:200px;font: 15px Montserrat;">View More</a>
                </div>
            </div>
        </div>
        
        <div class="wrapper_other">
            @if (Model.Product != null)
            {
                // Lấy 4 sản phẩm có số NumberOfViews cao nhất
                var topViewedProducts = Model.Product
                .Where(p => p.Interactions != null) // Kiểm tra xem Interactions có khác null không
                .OrderByDescending(p => p.Interactions.NumberOfViews) // Sắp xếp theo NumberOfViews
                .Take(4); // Lấy 4 sản phẩm đầu tiên

                foreach (var product in topViewedProducts)
                {
                    <div class="card_other mt-4">
                        @if (product.Links != null)
                        {
                            string firstImageUrl = product.Links.FirstOrDefault(link => link.Url.Contains("cloudinary"))?.Url;
                            if (firstImageUrl != null)
                            {
                                <img src="@firstImageUrl" alt="Cloudinary Image" class="img-fluid" />
                            }
                        }
                        <div class="info_other">
                            <h1>@product.Name</h1>
                            <p>
                                @(product.Description.Length > 100
                                    ? product.Description.Substring(0, 100) + "..."
                                    : product.Description)
                            </p>
                            <div class="row d-flex align-items-center justify-content-between">
                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="col-md-6 btn_orther ms-2 text-center">Read More</a>
                                <div class="col-md-3"></div>
                                @* Day la trai tym ne *@
                                <div title="Wishlist" class="col-md-3 heart-container" style="width:20px;height:20px;">
                                    <input id="Give-It-An-Id" class="checkbox" type="checkbox">
                                    <div class="svg-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>



    <section id="free" style="margin-top:5vw;">
        <div class="d-flex justify-content-between align-items-center row">
            <h3 class="col-8 col-sm-8 col-md-8 ms-4 fw-bold" style="font-family: 'Poppins', sans-serif; text-transform:uppercase;">Free</h3>
            <div class="col-3 col-sm-3 col-md-3 footeer_card">
                <div class="btn_card" style="display:flex;justify-content:end;" style="width:200px;font-size:font: 15px Montserrat;">
                    <a href="#" class="btn_orther" style="width:200px;font: 15px Montserrat;">View More</a>
                </div>
            </div>
        </div>
        <div class="wrapper_other">
            @if (Model.Product != null)
            {
                // Lọc sản phẩm có Price = 0 và lấy 4 sản phẩm đầu tiên
                var freeProducts = Model.Product
                .Where(p => p.Price == 0)
                .Take(4);

                foreach (var product in freeProducts)
                {
                    <div class="card_other mt-4">
                        @if (product.Links != null)
                        {
                            // Tìm link ảnh đầu tiên từ Cloudinary
                            string firstImageUrl = product.Links.FirstOrDefault(link => link.Url.Contains("cloudinary"))?.Url;

                            // Hiển thị ảnh đầu tiên nếu tồn tại
                            if (firstImageUrl != null)
                            {
                                <img src="@firstImageUrl" alt="Cloudinary Image" class="img-fluid" />
                            }
                        }
                        <div class="info_other">
                            <h1>@product.Name</h1>
                            <p>
                                @(product.Description.Length > 100
                                    ? product.Description.Substring(0, 100) + "..."
                                    : product.Description)
                            </p>
                            <div class="row d-flex align-items-center justify-content-between">
                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="col-md-6 btn_orther ms-2 text-center">Read More</a>
                                <div class="col-md-3"></div>
                                @* Day la trai tym ne *@
                                <div title="Wishlist" class="col-md-3 heart-container" style="width:20px;height:20px;">
                                    <input id="Give-It-An-Id" class="checkbox" type="checkbox">
                                    <div class="svg-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>


    <section id="new" style="margin-top:5vw;">
        <div class="d-flex justify-content-between align-items-center row">
            <h3 class="col-8 col-sm-8 col-md-8 ms-4 fw-bold" style="font-family: 'Poppins', sans-serif; text-transform:uppercase;">New</h3>
            <div class="col-3 col-sm-3 col-md-3 footeer_card">
                <div class="btn_card" style="display:flex;justify-content:end;" style="width:200px;font-size:font: 15px Montserrat;">
                    <a href="#" class="btn_orther" style="width:200px;font: 15px Montserrat;">View More</a>
                </div>
            </div>
        </div>
        <div class="wrapper_other">
            @if (Model.Product != null)
            {
                // Lọc và lấy 4 sản phẩm có CreatedAt mới nhất
                var latestProducts = Model.Product
                .OrderByDescending(p => p.CreatedAt) // Sắp xếp theo CreatedAt giảm dần
                .Take(4); // Lấy 4 sản phẩm đầu tiên

                foreach (var product in latestProducts)
                {
                    <div class="card_other mt-4">
                        @if (product.Links != null)
                        {
                            string firstImageUrl = product.Links.FirstOrDefault(link => link.Url.Contains("cloudinary"))?.Url;

                            // Hiển thị hình ảnh đầu tiên nếu có
                            if (firstImageUrl != null)
                            {
                                <img src="@firstImageUrl" alt="Cloudinary Image" class="img-fluid" />
                            }
                        }
                        <div class="info_other">
                            <h1>@product.Name</h1>
                            <p>
                                @(product.Description.Length > 100
                                    ? product.Description.Substring(0, 100) + "..."
                                    : product.Description)
                            </p>
                            <div class="row d-flex align-items-center justify-content-between">
                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="col-md-6 btn_orther ms-2 text-center">Read More</a>
                                <div class="col-md-3"></div>
                                @* Day la trai tym ne *@
                                <div title="Wishlist" class="col-md-3 heart-container" style="width:20px;height:20px;">
                                    <input id="Give-It-An-Id" class="checkbox" type="checkbox">
                                    <div class="svg-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>


    <section id="more" style="margin-top:5vw;">
        <div class="d-flex justify-content-between align-items-center row">
            <h3 class="col-8 col-sm-8 col-md-8 ms-4 fw-bold" style="font-family: 'Poppins', sans-serif; text-transform:uppercase;">More</h3>
            <div class="col-3 col-sm-3 col-md-3 footeer_card">
                <div class="btn_card" style="display:flex;justify-content:end;" style="width:200px;font-size:font: 15px Montserrat;">
                    <a href="#" class="btn_orther" style="width:200px;font: 15px Montserrat;">View More</a>
                </div>
            </div>
        </div>
        <div class="wrapper_other">
            @if (Model.Product != null)
            {
                foreach (var product in Model.Product)
                {
                    <div class="card_other mt-4">
                        @if (product.Links != null)
                        {
                            string firstImageUrl = null; // Biến để lưu URL hình ảnh đầu tiên

                            foreach (var link in product.Links) // Lặp qua từng đối tượng LinkModel
                            {
                                if (link.Url.Contains("cloudinary"))
                                {
                                    firstImageUrl = link.Url; // Lưu URL hình ảnh đầu tiên
                                    break; // Thoát khỏi vòng lặp khi đã tìm thấy
                                }
                            }

                            // Hiển thị hình ảnh đầu tiên nếu có
                            if (firstImageUrl != null)
                            {
                                <img src="@firstImageUrl" alt="Cloudinary Image" class="img-fluid" />
                            }


                        }
                        <div class="info_other">
                            <h1>@product.Name</h1>
                            <p>
                                @(product.Description.Length > 100
                                    ? product.Description.Substring(0, 100) + "..."
                                    : product.Description)
                            </p>
                            <div class="row d-flex align-items-center justify-content-between">
                                <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="col-md-6 btn_orther ms-2 text-center">Read More</a>
                                <div class="col-md-3"></div>
                                @* Day la trai tym ne *@
                                <div title="Wishlist" class="col-md-3 heart-container" style="width:20px;height:20px;">
                                    <input id="Give-It-An-Id" class="checkbox" type="checkbox">
                                    <div class="svg-container">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-outline" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" class="svg-filled" viewBox="0 0 24 24">
                                            <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                            </path>
                                        </svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="svg-celebrate">
                                            <polygon points="10,10 20,20"></polygon>
                                            <polygon points="10,50 20,50"></polygon>
                                            <polygon points="20,80 30,70"></polygon>
                                            <polygon points="90,10 80,20"></polygon>
                                            <polygon points="90,50 80,50"></polygon>
                                            <polygon points="80,80 70,70"></polygon>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>
</div>
<div class="best-seller_most-player_top-upcoming-wishlisted row" style="margin-top:7vw;">
    <div class="col-12 col-sm-12 col-md-4" style="margin:0 auto;">
        <h2>
            <a href="" style="text-decoration:none;color:black;">Top Sellers <i class="fa-solid fa-angle-right"></i></a>
        </h2>
        <div class="row ">
            @if (Model.Product != null)
            {
                // Lọc sản phẩm, sắp xếp giảm dần theo số lượng đã bán và lấy 5 sản phẩm đầu tiên
                var topSoldProducts = Model.Product
                .OrderByDescending(p => p.Sold)
                .Take(5);

                foreach (var product in topSoldProducts)
                {
                    <div class="product-link row mt-3">
                        <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="product-card">
                            <div class="product-content">
                                <div class="image-container">
                                    @if (product.Links != null)
                                    {
                                        string secondImageUrl = null;
                                        int imageCount = 0;

                                        foreach (var link in product.Links)
                                        {
                                            if (link.Url.Contains("cloudinary"))
                                            {
                                                imageCount++;

                                                if (imageCount == 2)
                                                {
                                                    secondImageUrl = link.Url;
                                                    break;
                                                }
                                            }
                                        }

                                        if (secondImageUrl != null)
                                        {
                                            <img src="@secondImageUrl" alt="Cloudinary Image" />
                                        }
                                    }
                                </div>
                                <div class="product-name">
                                    @product.Name
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>

    </div>

    <div class="col-12 col-sm-12 col-md-4" style="margin:0 auto;">
        <h2>
            <a href="" style="text-decoration:none;color:black;">Most Played<i class="fa-solid fa-angle-right"></i></a>
        </h2>
        <div class="row">
            @if (Model.Product != null)
            {
                // Lọc sản phẩm có InteractionModel và sắp xếp theo NumberOfLikes, lấy 5 sản phẩm đầu tiên
                var topLikedProducts = Model.Product
                .Where(p => p.Interactions != null) // Đảm bảo InteractionModel không null
                .OrderByDescending(p => p.Interactions.NumberOfLikes)
                .Take(5);

                foreach (var product in topLikedProducts)
                {
                    <div class="product-link row mt-3">
                        <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="product-card">
                            <div class="product-content">
                                <div class="image-container">
                                    @if (product.Links != null)
                                    {
                                        string secondImageUrl = null;
                                        int imageCount = 0;

                                        foreach (var link in product.Links)
                                        {
                                            if (link.Url.Contains("cloudinary"))
                                            {
                                                imageCount++;

                                                if (imageCount == 2)
                                                {
                                                    secondImageUrl = link.Url;
                                                    break;
                                                }
                                            }
                                        }

                                        if (secondImageUrl != null)
                                        {
                                            <img src="@secondImageUrl" alt="Cloudinary Image" />
                                        }
                                    }
                                </div>
                                <div class="product-name">
                                    @product.Name
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-4" style="margin:0 auto;">
        <h2>
            <a href="" style="text-decoration:none;color:black;">Top Upcoming Wishlisted <i class="fa-solid fa-angle-right"></i></a>
        </h2>
        <div class="row">
            @if (Model.Product != null)
            {
                // Giới hạn lấy 5 sản phẩm cho danh sách Top Upcoming Wishlisted
                var upcomingWishlistedProducts = Model.Product.Take(5);

                foreach (var product in upcomingWishlistedProducts)
                {
                    <div class="product-link row mt-3">
                        <a asp-controller="Product" asp-action="ProductDetail" asp-route-Id="@product.Id" class="product-card">
                            <div class="product-content">
                                <div class="image-container">
                                    @if (product.Links != null)
                                    {
                                        string secondImageUrl = null;
                                        int imageCount = 0;

                                        foreach (var link in product.Links)
                                        {
                                            if (link.Url.Contains("cloudinary"))
                                            {
                                                imageCount++;

                                                if (imageCount == 2)
                                                {
                                                    secondImageUrl = link.Url;
                                                    break;
                                                }
                                            }
                                        }

                                        if (secondImageUrl != null)
                                        {
                                            <img src="@secondImageUrl" alt="Cloudinary Image" />
                                        }
                                    }
                                </div>
                                <div class="product-name">
                                    @product.Name
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>

</div>

</div>


<!-- Nút Scroll to Top -->
<button id="scrollToTopBtn" title="Go to top">
    <i class="fa-solid fa-chevron-up"></i>
</button>




@{
    string isLoginSuccess = "false";
    if (ViewData["IsLogin"] != null)
    {
        isLoginSuccess = ViewData["IsLogin"].ToString();
    }
}
<script>
    // Cấu hình Google One Tap
    window.onload = function () {
        // google.accounts.id.initialize({
        //     client_id: '931532368031-fve5bfiu4t6uvu5laj3gq9fbj7okl43e.apps.googleusercontent.com',
        //     context: 'signin',
        //     login_uri: "/google-response",
        //     auto_prompt: false
        // });

        // Kiểm tra trạng thái đăng nhập từ biến Razor
        var isLoginSuccess = @Html.Raw(isLoginSuccess.ToString().ToLower());

        // Nếu trạng thái chưa đăng nhập thành công, hiển thị Google One Tap
        if (isLoginSuccess === false) { // Sử dụng so sánh === để so sánh giá trị
            google.accounts.id.prompt();  // Hiển thị Google One Tap nếu người dùng chưa đăng nhập
        } else {
            google.accounts.id.cancel();  // Tắt Google One Tap nếu đã đăng nhập
        }
    };
</script>