@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["_OrderItemsPartial"] = "This is _OrderItemsPartial Page";
}
@{
    Layout = null;
}
@using Client.Models.OrderModel
@model OrderViewModel
<style>
.imgHistory {
            width: 150px;
            height: 150px;
        object-fit: cover;
        border-radius: 8px;
        }
</style>


<div class="modal fade" id="modalOrderDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="container-fluid p-5">
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["success"]
                    </div>
                }

                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["error"]
                    </div>
                }

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <form method="get" class="col" readonly>
                        @if (Model.Items != null)
                        {
                            @foreach (var item in Model.Items)
                            {
                                <div class="row" style="border: 2px solid #00A97F; padding: 10px; border-radius: 5px;">
                                    <!-- Cột 1: Hình ảnh -->
                                    <div class="col-4 d-flex justify-content-center align-items-center">
                                            <img src="@item.ImageUrl" alt="Profile" class="imgHistory">
                                    </div>

                                    <!-- Cột 2: Dữ liệu bên trái -->
                                    <div class="col-4">
                                        <div class="mb-2">
                                            <label class="form-label fw-bold" style="color:#00A97F">Product Id</label>
                                            <input type="text" readonly asp-for="@item.ProductId" class="form-control">
                                            <span class="text-danger" asp-validation-for="@item.ProductId"></span>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label fw-bold" style="color:#00A97F">Publisher Name</label>
                                            <input type="text" readonly asp-for="@item.PublisherName" class="form-control">
                                            <span class="text-danger" asp-validation-for="@item.PublisherName"></span>
                                        </div>
                                    </div>

                                    <!-- Cột 3: Dữ liệu bên phải -->
                                    <div class="col-4">
                                        <div class="mb-2">
                                            <label class="form-label fw-bold" style="color:#00A97F">Product Name</label>
                                            <input type="text" readonly asp-for="@item.ProductName" class="form-control">
                                            <span class="text-danger" asp-validation-for="@item.ProductName"></span>
                                        </div>
                                        <div class="mb-2">
                                            <label class="form-label fw-bold" style="color:#00A97F">Total Price</label>
                                            <input type="text" readonly asp-for="@item.TotalPrice" class="form-control">
                                            <span class="text-danger" asp-validation-for="@item.TotalPrice"></span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <br />

                            }

                        }
                        else
                        {
                            <h1>Can't find order</h1>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
