@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["_OrderItemsPartial"] = "This is _OrderItemsPartial Page";
}
@{ Layout = null; }
@using Client.Models.OrderModel
@model OrderViewModel



<div class="modal fade" id="modalOrderDetail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="container-fluid p-5">
                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["success"]
                    </div>
                }

                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["error"]
                    </div>
                }

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row" >
                    <form method="get" class="col" readonly>
                        @if (Model.Items != null)
                        {
                            @foreach (var item in Model.Items)
                            {
                                <div style="border: 2px solid #00A97F;padding: 5px 10px; border-radius:5px;">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="mb-2">
                                                <label class="form-label fw-bold" style="color:#00A97F">Product Id</label>
                                                <input type="text" readonly asp-for="@item.ProductId" class="form-control">
                                                <span class="text-danger" asp-validation-for="@item.ProductId"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="mb-2">
                                                <label class="form-label fw-bold" style="color:#00A97F">Publisher Name</label>
                                                <input type="text" readonly asp-for="@item.PublisherName" class="form-control">
                                                <span class="text-danger" asp-validation-for="@item.PublisherName"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-4">
                                            <div class="mb-2">
                                                <label class="form-label fw-bold" style="color:#00A97F">Product name</label>
                                                <input type="text" readonly asp-for="@item.ProductName" class="form-control">
                                                <span class="text-danger" asp-validation-for="@item.ProductName"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-2">
                                                <label class="form-label fw-bold" style="color:#00A97F">Total price</label>
                                                <input type="text" readonly asp-for="@item.TotalPrice" class="form-control">
                                                <span class="text-danger" asp-validation-for="@item.TotalPrice"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-2">
                                                <label class="form-label fw-bold" style="color:#00A97F">Publisher Quantity</label>
                                                <input type="number" readonly asp-for="@item.Quantity" class="form-control">
                                                <span class="text-danger" asp-validation-for="@item.Quantity"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <hr>
                                <br />
                            }

                        }
                        else
                        {
                            <h1>Can't find order</h1>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
