@using Client.Models.CategorisDTO

@{
	Layout = "_LayoutAdmin";
}
@model CategoriesViewModel


<div class="pt-3 pb-4">
	<span class="titleManager bg-success py-3 px-5 rounded-4 fw-bold text-white">Categories Manager</span>
</div>

<!-- Thông báo -->
@* @if (!string.IsNullOrEmpty(notification))
{ *@
<div class="alert alert-success">
	@* @notification *@
	ádjflkajklajsdlfkjadsklfjkladsfj
</div>
<div class="alert alert-danger">
	@* @notification *@
	ádjflkajklajsdlfkjadsklfjkladsfj
</div>
@* } *@

<div class="container mt-4">
	<!-- Thanh tìm kiếm và nút Thêm -->
	<div class="d-flex justify-content-between mb-3">
		<div class="col-md-4">
			<input class="form-control" type="text" placeholder="Search by..." />
		</div>
		<div class="w-100">
			<div class="text-end">
				<button class="btn btn-success" data-toggle="modal" data-target="#modalCategory">+ Add</button>
			</div>
		</div>
	</div>

	<!-- Bảng thông tin -->
	<div id="checkBoxBar" style="display:none">
		<div class="text-end m-2">
			@* <button class="btn btn-success mx-2 w-100">Public All</button> *@
			<a class="text-danger mx-2" href="" data-toggle="modal" data-target="#deleteProductModal">
				<i class="fas fa-trash"></i>
			</a>
		</div>
	</div>
	<table class="table table-bordered table-hover align-middle">
		<thead class="table-light">
			<tr>
				<th scope="col"><input type="checkbox" id="selectAll"></th>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Description</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.Categories != null)
			{
				foreach (var categories in Model.Categories)
				{
					<tr>
						<td><input type="checkbox" class="user-checkbox" /></td>
						<td>@categories.Id</td>
						<td>@categories.Name</td>
						<td>@categories.Type</td>
						<td>@categories.Description</td>
						<td>@categories.Status</td>
						@*Đây là nút Update*@
						<td>
							<a asp-action="UpdateCategory" asp-route-Id="@categories.Id" class="text-danger mx-2"><span><i class="fa-regular fa-pen-to-square"></i></span></a>

						</td>
						
						<td>

							<a asp-action="CategoryDelete" asp-route-Id="@categories.Id" class="text-danger mx-2"> <i class="fas fa-trash"></i></a>
							@* <a asp-action="UsersDelete" asp-route-Id="@user.Id"> <i class="fas fa-trash"></i></a> *@
						</td>
					</tr>
				}
			}
			else
			{
				<tr>
					<td colspan="9" class="text-center">Không có người dùng nào để hiển thị.</td>
				</tr>
			}
			@* @{
			@await Component.InvokeAsync("UsersIndex")
			} *@
			@* @Html.Partial("~/Views/User/UsersIndex.cshtml") *@
			<!-- Thêm các dòng dữ liệu tương tự -->
		</tbody>
	</table>

	<!-- Phân trang -->
	<div class="d-flex justify-content-between mt-3">
		<div>Total: 3,145</div>
		<div>
			<select class="form-select form-select-sm w-auto d-inline-block">
				<option>20 records per page</option>
				<option>50 records per page</option>
				<option>100 records per page</option>
			</select>
			<nav aria-label="Page navigation example" class="d-inline-block">
				<ul class="pagination pagination-sm mb-0">
					<li class="page-item disabled">
						<a class="page-link" href="#">1 to 20</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item"><a class="page-link" href="#">3</a></li>
					<li class="page-item"><a class="page-link" href="#">></a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>










@* Modal *@
<div class="modal fade" id="modalCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="container-fluid p-5">
				@await Html.PartialAsync("CreateCategory", Model.CreateCategory)
			</div>
		</div>
	</div>
</div>


<script>
	function showSuccessToast() {
		$('#successToast').toast('show');
	}

	function showErrorToast() {
		$('#errorToast').toast('show');
	}
</script>