@using Client.Models.ComentDTO

@{
    Layout = "_LayoutAdmin";
}
@model CommentViewModel
<div class="pt-3 pb-4">
    <span class="titleManager bg-success py-3 px-5 rounded-4 fw-bold text-white">Comment Manager</span>
</div>

<div class="container mt-5">
    <h4>Recent Orders</h4>
    @* <table class="table table-bordered bg-light">
    <thead class="thead-light">
    <tr>
    <th>#</th>
    <th>Product Id</th>
    <th>Image</th>
    <th>Product Name</th>
    <th>Status</th>
    <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>1</td>
    <td>id000001</td>
    <td><img src="~/Image/game.jpg" class="table-img" alt="Product Image" style="height:99px; width: 176px"></td>
    <td>Product #1</td>
    <td><span class="status-circle status-delivered"></span> Delivered</td>
    <td>
    <button class="btn btn-primary">Public</button>
    </td>
    </tr>
    <tr>
    <td>1</td>
    <td>id000001</td>
    <td><img src="image1.jpg" class="table-img" alt="Product Image"></td>
    <td>Product #1</td>
    <td><span class="status-circle status-delivered"></span> Delivered</td>
    <td><button class="btn btn-outline-primary">View Details</button></td>
    </tr>
    <tr>
    <td>1</td>
    <td>id000001</td>
    <td><img src="image1.jpg" class="table-img" alt="Product Image"></td>
    <td>Product #1</td>
    <td><span class="status-circle status-cancelled"></span> Cancel</td>
    <td><button class="btn btn-outline-primary">View Details</button></td>
    </tr>
    <tr>
    <td>1</td>
    <td>id000001</td>
    <td><img src="image1.jpg" class="table-img" alt="Product Image"></td>
    <td>Product #1</td>
    <td><span class="status-circle status-intransit"></span> Delivered</td>
    <td><button class="btn btn-outline-primary">View Details</button></td>
    </tr>
    </tbody>
    </table> *@


    <div class="container mt-4">
        <!-- Thanh tìm kiếm và nút Thêm -->
        <div class="d-flex justify-content-between mb-3">
            <form asp-action="SearchCmt" asp-controller="Admin" method="post" class="d-flex gap-2">
                <input class="form-control" type="text" placeholder="Search by username..." name="searchString" style="width: 300px;" /> <!-- Tăng width cho input tên người dùng -->
                <input class="form-control" type="date" name="searchDate" id="searchDate" lang="en-CA" style="width: 200px;" /> <!-- Tăng width cho input ngày tháng -->
                <button class="btn btn-primary" style="width: 150px;" type="submit">Search</button>
            </form>

            <div class="w-100">
                <div class="text-end">
                    <button class="btn btn-success" data-toggle="modal" data-target="#modalComment">+ Add</button>
                </div>
            </div>
        </div>

    <div id="checkBoxBar" style="display:none">
        <div class="text-end m-2 d-flex">
            <button class="btn btn-success mx-2 w-100">Public All</button>
            <a class="text-danger mx-2" href="" data-toggle="modal" data-target="#deleteProductModal">
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>

    <table class="table table-bordered table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col"><input type="checkbox" id="selectAll"></th>
                <th scope="col">Content</th>
                <th scope="col">Likes</th>
                <th scope="col">Status</th>
                <th scope="col">UserName</th>
                <th scope="col">Product Id</th>
                <th scope="col">Parent Id</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">DisLikes</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Comment != null)
            {
                foreach (var comment in Model.Comment)
                {
                    <tr>
                        <td><input type="checkbox" class="user-checkbox" /></td>
                        <td>@comment.Content</td>
                        <td>@comment.NumberOfLikes</td>
                        <td>@comment.Status</td>
                        <td>@comment.UserName</td>
                        <td>@comment.ProductId</td>
                        <td>@comment.ParentId</td>
                        <td>@comment.CreatedAt</td>
                        <td>@comment.NumberOfDisLikes</td>
                        @*Đây là nút Update*@
                        <td>
                            <a asp-action="UpdateComment" asp-route-Id="@comment.Id" class="text-danger mx-2"><span><i class="fa-regular fa-pen-to-square"></i></span></a>

                        </td>

                        <td>

                                <a asp-action="CommentDelete" asp-route-Id="@comment.Id" class="text-danger mx-2"> <i class="fas fa-trash"></i></a>
                            @* <a asp-action="UsersDelete" asp-route-Id="@user.Id"> <i class="fas fa-trash"></i></a> *@
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="9" class="text-center">Không có người dùng nào để hiển thị.</td>
                </tr>
            }
            @* @{
            @await Component.InvokeAsync("UsersIndex")
            } *@
            @* @Html.Partial("~/Views/User/UsersIndex.cshtml") *@
            <!-- Thêm các dòng dữ liệu tương tự -->
        </tbody>
    </table>

    <!-- Phân trang -->
        <div class="d-flex justify-content-between mt-3">
            <div>Total: @(Model.totalItem) items</div>
            <div>
                <form method="get" asp-controller="Admin" asp-action="CommentManager" class="d-inline">
                    <select name="pageSize" class="form-select form-select-sm w-auto d-inline-block" onchange="this.form.submit()">
                        <option>Select records per page</option>
                        <option value="3">3 records per page</option>
                        <option value="5">5 records per page</option>
                        <option value="10">10 records per page</option>
                    </select>
                    <input type="hidden" name="page" value="1" />
                </form>

                <nav aria-label="Page navigation example" class="d-inline-block">
                    <ul class="pagination pagination-sm mb-0">
                        <li class="page-item @(Model.pageNumber == 1 ? "disabled" : "")">
                            <a class="page-link" asp-controller="Admin" asp-action="CommentManager" asp-route-page="@(Model.pageNumber - 1)" asp-route-pageSize="@(ViewContext.HttpContext.Request.Query["pageSize"])">
                                Previous
                            </a>
                        </li>
                        @for (var pg = 1; pg <= Model.pageCount; pg++)
                        {
                            <li class="page-item @(pg == Model.pageNumber ? "active" : "")">
                                <a class="page-link" asp-controller="Admin" asp-action="CommentManager" asp-route-page="@pg" asp-route-pageSize="@(ViewContext.HttpContext.Request.Query["pageSize"])">
                                    @pg
                                </a>
                            </li>
                        }
                        <li class="page-item @(Model.pageNumber == Model.pageCount ? "disabled" : "")">
                            <a class="page-link" asp-controller="Admin" asp-action="CommentManager" asp-route-page="@(Model.pageNumber + 1)" asp-route-pageSize="@(ViewContext.HttpContext.Request.Query["pageSize"])">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>


        @* Modal *@
        <div class="modal fade" id="modalComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="container-fluid p-5">
                        @await Html.PartialAsync("CreateComment", Model.CreateComment)
                    </div>
                </div>
            </div>
        </div>
</div>




