@model Client.Models.Product_Model.DTO.UpdateProductModel
@{
    ViewData["Title"] = "Update Product";
}
@{
    Layout = "_LayoutAdmin";
}
<h1>Update User</h1>

<div>
    <h4>Update Product Information</h4>
    <hr />
    <form asp-action="ProductUpdate" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Name">
                @Html.DisplayNameFor(model => model.Name)
            </label>
            <div class="col-sm-10">
                <input type="text" id="Name" name="Name" class="form-control" asp-for="@Model.Name" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Description">
                @Html.DisplayNameFor(model => model.Description)
            </label>
            <div class="col-sm-10">
                <input type="text" id="Description" name="Description" class="form-control" value="@Model.Description" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Price">
                @Html.DisplayNameFor(model => model.Price)
            </label>
            <div class="col-sm-10">
                <input type="text" id="Price" name="Price" class="form-control" value="@Model.Price" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Sold">
                @Html.DisplayNameFor(model => model.Sold)
            </label>
            <div class="col-sm-10">
                <input type="text" id="Sold" name="Sold" class="form-control" value="@Model.Sold" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Interactions">
                @Html.DisplayNameFor(model => model.Interactions.NumberOfViews)
            </label>
            <div class="col-sm-10">
                <input type="text" asp-for="@Model.Interactions.NumberOfViews" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Interactions">
                @Html.DisplayNameFor(model => model.Interactions.NumberOfLikes)
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="@Model.Interactions.NumberOfLikes" />

            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Discount">
                @Html.DisplayNameFor(model => model.Discount)
            </label>
            <div class="col-sm-10">
                <input type="text" id="Discount" name="Discount" class="form-control" value="@Model.Discount" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Categories">
                @Html.DisplayNameFor(model => model.Categories)
            </label>
            <div class="col-sm-10">
                @if (Model.Categories != null)
                {
                    @foreach (var category in Model.Categories)
                    {
                        <li>@category.CategoryName</li>
                    }
                }
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Platform">
                @Html.DisplayNameFor(model => model.Platform)
            </label>
            <div class="col-sm-10">
                <input type="text" id="Platform" name="Platform" class="form-control" value="@Model.Platform" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="Status">
                @Html.DisplayNameFor(model => model.Status)
            </label>
            <div class="col-sm-10">
                <input type="text" id="Status" name="Status" class="form-control" value="@Model.Status" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="CreatedAt">
                @Html.DisplayNameFor(model => model.CreatedAt)
            </label>
            <div class="col-sm-10">
                <input type="text" id="CreatedAt" name="CreatedAt" class="form-control" value="@Model.CreatedAt" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="UpdatedAt">
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </label>
            <div class="col-sm-10">
                <input type="text" id="UpdatedAt" name="UpdatedAt" class="form-control" value="@Model.UpdatedAt" />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="UserName">
                @Html.DisplayNameFor(model => model.UserName)
            </label>
            <div class="col-sm-10">
                <input type="text" id="UserName" name="UserName" class="form-control" value="@Model.UserName" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" /> |
            <a asp-action="ProductsManager" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>