@model Client.Models.UserDTO.UpdateUser

<div class="modal fade" id="showUpdateModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="container p-5">

                @if (TempData["success"] != null)
                {
                    <div class="alert alert-success">
                        @TempData["success"]
                    </div>
                }

                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["error"]
                    </div>
                }

                @if (Model != null)
                {
                    <form class="row" asp-action="UserUpdate" method="post" enctype="multipart/form-data">
                        <!-- Hidden field for User ID -->
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col">
                                <input type="hidden" asp-for="@Model.Id" />
                                <input type="hidden" asp-for="@Model.Status" />
                                <input type="hidden" asp-for="@Model.Role" />
                                <input type="hidden" asp-for="@Model.EmailConfirmation" />

                                <!-- Username (Hidden) -->
                                <div class="form-group mb-3" style="display: none;">
                                    <label asp-for="@Model.Username" class="font-weight-bold">Username</label>
                                    <input type="text" asp-for="@Model.Username" class="form-control form-control-sm" /> <!-- Thay đổi kích thước -->
                                    <span asp-validation-for="@Model.Username" class="text-danger"></span>
                                </div>

                                <!-- Phone Number -->
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.PhoneNumber" class="font-weight-bold">Phone Number</label>
                                    <input type="text" asp-for="@Model.PhoneNumber" class="form-control form-control-sm" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <!-- Display Name -->
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.DisplayName" class="font-weight-bold">Display Name</label>
                                    <input type="text" asp-for="@Model.DisplayName" class="form-control form-control-sm" />
                                    <span asp-validation-for="DisplayName" class="text-danger"></span>
                                </div>

                                <!-- Email -->
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Email" class="font-weight-bold">Email</label>
                                    <input type="email" asp-for="@Model.Email" class="form-control form-control-sm" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <!-- Role -->
                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Role" class="font-weight-bold">Role</label>
                                    <select asp-for="@Model.Role" class="form-control form-control-sm">
                                        <option value="User">User</option>
                                        <option value="Admin">Admin</option>
                                    </select>
                                    <span asp-validation-for="Role" class="text-danger"></span>
                                </div>

                                <div class="form-group mb-3">
                                    <label asp-for="@Model.Status" class="font-weight-bold">Status</label>
                                    <select asp-for="@Model.Status" class="form-control form-control-sm">
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                        <option value="Block">Block</option>
                                        <option value="Deleted">Deleted</option>
                                    </select>
                                    <span asp-validation-for="Status" class="text-danger"></span>
                                </div>
                            </div>
                            <!-- Avatar URL -->
                            <div class="col">
                                <div class="text-center">
                                    @if (Model.AvatarFile != null)
                                    {
                                        <div>
                                            <img id="avatarPreviewUpdate" src="@Model.Avatar" alt="Avatar Preview" style="width:200px; height:200px;" />
                                        </div>
                                        <input type="file" id="avatarInputUpdate" asp-for="@Model.AvatarFile" class="form-control mt-2" style="display: none;" accept=".png, .jpg" />
                                        <a id="changeAvatarUpdateBtn" class="btn btn-outline-dark text-center mt-2">Change Avatar</a>
                                        <span asp-validation-for="@Model.Avatar" class="text-danger"></span>

                                    }
                                    else
                                    {
                                        <div>
                                            <img id="avatarPreviewUpdate" src="@Model.Avatar" alt="Avatar Preview" style="width:200px; height:200px;" />
                                        </div>
                                        <input type="file" id="avatarInputUpdate" asp-for="@Model.AvatarFile" class="form-control mt-2" style="display: none;" accept=".png, .jpg" />
                                        <a id="changeAvatarUpdateBtn" class="btn btn-outline-dark text-center mt-2">Change Avatar</a>
                                        <span asp-validation-for="@Model.Avatar" class="text-danger"></span>

                                    }
                                </div>
                            </div>
                        </div>


                        <!-- Submit and Back buttons -->
                        <div class="form-group text-center mt-4">
                            <input type="submit" asp-controller="Admin" asp-action="UserUpdate" value="Update" class="btn btn-primary btn-sm mr-2" /> <!-- Thay đổi kích thước -->
                            <a value="Cancel" data-bs-dismiss="modal" class="btn btn-secondary btn-sm">Back to List</a> <!-- Thay đổi kích thước -->
                        </div>

                    </form>
                }
                else
                {
                    <h1>Can't find user to update</h1>
                }

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#changeAvatarUpdateBtn').click(function () {
            $('#avatarInputUpdate').click();
        });

        $('#avatarInputUpdate').change(function (event) {
            const input = event.target;
            if (input.files && input.files[0]) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    $('#avatarPreviewUpdate').attr('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        });
    });
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}